.myclass{
    background-color: chartreuse;
}
h1{
    background-color: blue;
}
#greet{
    background-color: brown;
}
div p{
    background-color: rgb(176, 128, 55) !important;
}
p{
    background-color: rgb(25, 25, 33) ;
}
.para{
    background-color: rgb(173, 54, 54);
}