h1{
    background-color: yellow;
    border: 2px solid black;
}
@media (width:400px) {
    h1{
        background-color: red;
    }
}
@media (orientation:landscape){
   h1{
    background-color: rgb(98, 98, 153);
    color: coral;
   }
}